<div class="container overlay" ng-show="loading">
  <button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Generating...</button>
</div>
<br>

<div class = "jumbotron online">
	<h2>Online Orders Report</h2>
	<p>Please select the Start Date and End Date</p>
	<table>
			<tr>
				<td>Start Date</td>
				<td>
					<input type="date" class="form-control" datepicker-popup ng-model="startDate" is-open="startStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>					
				</td>
				<td>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</td>	
				<td><span>End Date</span></td>
				<td>
					<input type="date" class="form-control" datepicker-popup ng-model="endDate" is-open="endStatus.opened" min-date="minEndDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>			
				</td>			
				<td>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>					
				</td>
			</tr>			
		</table>		
		<br>
		<input type = "submit" class="btn btn-success btn-lg pull-right" value = "Generate Report" ng-click = "generateOnlineOrderReport()">
</div>